<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some website</title>
</head>
  <body>
    <h1>We'll be right back!</h1>
    <p>Sorry guys, we are at the maintenance mode right now. We'll get back to you asap. Our administrators are working on the issue.</p>
  </body>
  {{> footer}}
</html>
